* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(101, 143, 150);
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto ;
    width: 90vw;
    border: 0px solid black;
    border-radius: 5px;
    height: 50vh;
    justify-content: center;
    background-color: rgba(77, 96, 109, 0.61);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
h1 {
    margin: 20px;
    font-size: 3em;
}

.card {
    height: 160px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(235, 110, 110);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: flex-start;
    overflow-y: hidden;
}


h2 {
    color: antiquewhite;
    margin: 0;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}
h3 {
    color: antiquewhite;
    margin: 0;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}
.pages {
    color: antiquewhite;
    margin: 0;
    font-size: 10px;
    text-align: center;
    padding: 5px;
}
.read {
    color: antiquewhite;
    margin: 0;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

form {
    display:flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

input {
    margin: 6px
}

#del {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: black;
    color: whitesmoke;
    border: none;
    text-decoration: none;
    transform: translate(75px, 10px);
}

#topDiv {
    background-color: crimson;
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    height: 2em;
}
#delBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    cursor: pointer;
}


#readBtn {
    line-height: 2em;
    padding: 0 10px;
    border-right: 1px solid rgba(129, 129, 129, 0.363);
    border-bottom: 1px solid rgba(8, 8, 8, 0.568);
    width: 50%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(230, 68, 68, 0.493)   ;
    border-radius: 5px;
}

#readBtn:hover {
    background-color: rgba(129, 129, 129, 0.363);
    opacity: 0.8;
    cursor: pointer;
}
#delBtn  {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    width: 2em;
    line-height: 2em;
    text-align: center;
}

#form-btn {
    margin-top: 30px;
    margig-bottom: 10px
    border: none;
    background-color: rgb(109, 109, 255);
    padding: 10px 20px ;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.2em;
}
#form-btn:hover {
    background-color: rgba(166, 157, 255, 0.89);
    cursor: pointer;
}
#form-btn:active {
    transform: scale(0.95);
}

input[type="submit"] {
    background-color: rgb(109, 109, 255);
    color:white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 1em;
}
input[type="submit"]:hover {
    background-color: rgba(166, 157, 255, 0.89);
    opacity: 0.8;
    cursor: pointer;

}

input {
    border: none;
    border-radius: 5px;
    padding: 10px;
}